.about__container {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
}

.about__content p {
    margin: var(--vertical-gap) 0rem;
    color: var(--color-light);
}

/* ===== Image ===== */
.about__image {
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg,
            transparent,
            var(--color-bg-variant),
            transparent);
    display: grid;
    place-items: center;
    border-radius: 2rem;
}

.about__image img {
    object-fit: contain;
    border-radius: 2rem;
    transform: rotate(10deg);
    transition: var(--transition-ease);
}

.about__image img:hover {
    transform: rotate(0);
}


/* ===== About cards ===== */
.about__cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.about__card {
    background: var(--color-bg-variant);
    color: var(--color-primary-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem 1rem 0rem ;
    text-align: center;
    transition: var(--transition-ease);
    height: 8rem;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.about__icon {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
}

.about__icon-grad {
    font-size: 1.5rem;
}

.about__card h5 {
    font-size: 0.9rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__bullet {
    font-size: 0.5rem;
}


/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__cards {
        margin: 0 auto 0;
        flex-direction: column;
        align-items: center;
    }

    .about__card {
        width: 35%;
    }

                        
    .about__image {
        width: 35%;
        margin: 0.5rem auto 3rem
    }

    .about__content p {
        margin: 1rem 0 1rem;
        text-align: justify;
    }

    .about__content {
        text-align: center;
    }
}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-width: 600px) {
    .about__card {
        padding: 0.5rem 0.5rem;
        width: 100%;
    }

    .about__content p {
        text-align: center;
    }
}