.skills__container {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5%;
}

.skills__container p {
    margin: 0rem 0rem var(--vertical-gap);
    color: var(--color-light);
}

/* ===== Skills cards ===== */
.skills__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--vertical-gap);
    color: var(--color-light);
}

.skills__card {
    background: var(--color-bg-variant);
    padding: 1rem 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    text-align: center;
    background: transparent;
    cursor: default;
}

.skills__title {
    padding: 0rem 0rem 1rem;
}

.skills__icons {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.skills__icon {
    background: rgba(255, 255, 255, 0.6);
    color: var(--color-bg);
    border: 1px solid transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    font-size: small;
    border-radius: 1rem;
    transition: var(--transition-ease);
}

.skills__icon:hover {
    background: transparent;
    color: var(--color-bg-variant);
    border-color: var(--color-bg-variant);
    cursor: default;
}

.skills__icon img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    aspect-ratio: 1/1;
}


/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {
    .skills__container {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--vertical-gap);
        width: 60%;
    }

    .skills__cards {
        margin:auto;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
    }

    .skills__content {
        text-align: center;
    }

    .skills__content p {
        text-align: justify;
    }

}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-width: 600px) {
    .skills__card {
        padding: 0.5rem 0.5rem;
    }

    .skills__content p {
        text-align: center;
    }

    .skills__icons {
        justify-content: center;
    }
}