nav {
    position: fixed;
    bottom: 3rem;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem 1.3rem;
    display: flex;
    gap: 1.2rem;
    border-radius: 3rem;
    backdrop-filter: blur(2px);
}

nav a {
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
    color: var(--color-primary);
    font-size: 1.1rem;
}

nav a:hover {
    color: var(--color-light);
    background: rgba(0, 0, 0, 0.5);
}

nav a.active {
    color: var(--color-bg);
    background: var(--color-primary);
}


nav a:before {
    transform: translateX(-50%);
    content: attr(data-hover);
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 2;
    font-size: 0.8rem;
    top: -1.1rem;
    padding-left: 1rem;
    width: 100%;
}

nav a:hover:before {
    opacity: 1;
    visibility: visible;
}